
    /* Paste this css to your style sheet file or under head tag */
    /* This only works with JavaScript, 
    if it's not present, don't show loader */
    .no-js #loader { display: none;  }
    .js #loader { display: block; position: absolute; left: 100px; top: 0; }
    .se-pre-con {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        opacity: 0.5;
        background: url("/image/page-loader.gif") center no-repeat #fff;
    } 
    .slick-slide img {
      height: auto !important;
    }
 /* .pro {
        width: 1500px !important;
    } */
    .col-sm-12.sub-head {
        z-index: -1;
    }
    .container-fluid.home-page {
        padding: 0px 0px !important;
    }

    .modal-dialog {
        width: 800px !important;
        margin: 30px auto;
    }

    .model-car 
    {
        font-size: 12px !important;
        font-family: oswald !important;
    }

    .model-button 
    {
        background: #000 !important;
        color: #fff !important;
        padding: 5px 10px !important;
        border-radius: 5px !important;
        font-size: 12px !important;
        font-family: oswald !important;

    }

    .footer-para
    {
    font-size: 14px !important;
    color: #fff !important;
    line-height: 30px !important;
    }
    .modal-header {
        background: #000 !important;
        color: #fff !important;
    }
    .modal-dialog {
        width: 700px !important;
        margin: 10% auto !important;
    }
    .row.model-car-body {
        border-top: 5px solid #000 !important;
    }

    .row.main-model-body {
        padding: 30px 0px !important;
    }
    .model-list-unstyled li
    {
        list-style-type: none;
        display: inline !important;
        padding: 5px 5px !important;
        border: 1px solid #ccc !important;
        margin: 0px 2px !important;
    }

.carousel-control 			 { width:  4%; }
.carousel-control.left,.carousel-control.right {margin-left:15px;background-image:none;}
@media (max-width: 767px) {
	.carousel-inner .active.left { left: -100%; }
	.carousel-inner .next        { left:  100%; }
	.carousel-inner .prev		 { left: -100%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }

}
@media (min-width: 767px) and (max-width: 992px ) {
	.carousel-inner .active.left { left: -50%; }
	.carousel-inner .next        { left:  50%; }
	.carousel-inner .prev		 { left: -50%; }
	.active > div { display:none; }
	.active > div:first-child { display:block; }
	.active > div:first-child + div { display:block; }
}
@media (min-width: 992px ) {
	.carousel-inner .active.left { left: -25%; }
	.carousel-inner .next        { left:  25%; }
	.carousel-inner .prev		 { left: -25%; }
}
#special-product {
    padding: 50px 0px !important;
}  
.front img {

    width: 82px;
    position: absolute;
    content: '';
    top: 40.7%;
    left: 38%;
    bottom: 121%;
    right: 0;
    transform: perspective(0px) rotateY(37deg);

/*
    width: 80px;
    position: absolute;
    content: '';
    top: 43.7%;
    left: 36.2%;*/
    /*    

    width: 80px;
    top: 44.7%;
    left: 39.2%;

    */
    /*bottom: 149%;
    right: 0;
    transform: perspective(0px) rotateY(41deg);*/
    object-fit: scale-down;
    }
.back img
{    
    width: 61px ;
    position: absolute;
    content: '';
    top: 40%;
    left: 70.9%;


/*
    top: 43.7%;
    left: 72.9%;
*/
    bottom: 0;
    right: 0;
    transform: perspective(405px) rotateY(54deg);
    object-fit: scale-down;
} 
.color-radius{
    height: 25px;
    width: 25px !important;
    border: 0.5px dotted black;
    border-radius: 50% !important;
    cursor: pointer;
}
.color-selected{

    border-radius: 0% !important;

}

.car_image_responsive
{
    /*width: 152% !important;*/
/*    width: 685px;
    height: 415px;*/

    width: 150%;
    height: 150%;

}

@media screen and (max-width: 767px)
{
    .modal-dialog
    {
        width: 100% !important;
        margin: 0% auto !important;
    }
    .car_image_responsive 
    {
        width: 100% !important;
    }
    #myModal3,#myModal0 
    {
        padding-right: 0px !important;
    }
    .front img {
        width: 50px;
        position: absolute;
        content: '';
        top: 33.33%;
        left: 39.3%;
        bottom: 0px;
        right: 0;
        transform: perspective(0px) rotateY(34deg);
        object-fit: scale-down;
    }
    .back img {
        width: 45px;
        position: absolute;
        content: '';
        top: 32%;
        left: 71.9%;
        bottom: 0;
        right: 0;
        transform: perspective(382px) rotateY(54deg);
        object-fit: scale-down;
    }
}